body {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/Wallpaper/abstract-1779612_1920.png);
    background-repeat: no-repeat;
    background-size:auto; 
}

h3 {
    color: whitesmoke;
}

span {
    color: yellow;
    font-weight: bolder;
}

canvas {
    background-color: black;
    display: block;
}

#canvas-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 480px;
}

#try-again-button {
    position: absolute;
    bottom: 30px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#try-again-button img {
    width: 280px;
    height: 80px;
}
#try-again-button:hover {
    cursor: pointer;
}



















@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}