body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
    background-color: darkblue;
}

canvas {
    height: 480px;
    width: 720px;
    background-color: black;
}